/node_modules
/public/storage
/storage/*.key
/vendor
!/vendor/elasticquent
!/vendor/elasticsearch
/.idea
Homestead.json
Homestead.yaml
.env
.log
_ide_helper.php
public/css
public/fonts
public/js
public/library
els-data
/storage/data_crawl*
