/*header*/
.container-banner {
    background-position: center center;
    height: 160px;
    width: 100%;
    background: url("../images/bg-banner.jpg");
}
.banner {
    background: url("../images/bannerTitle.png")
    no-repeat scroll center top !important;
    height: 100%;
    margin: auto;
    padding: 65px;
}
.topbar-nav {
    padding: 0 60px;
    border-bottom: 1px solid #d7d7d7;
    background: #ccc;
    z-index: 40;
}
.topbar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.topbar-nav .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.topbar-nav .metismenu > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    border-left: 1px solid #fff;
}
.topbar-nav .metismenu a {
    position: relative;
    display: block;
    color: #ffffff;
    outline-width: 0;
    transition: all .3s ease-out;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 500;
}
.topbar-nav .metismenu a:hover,
.topbar-nav .metismenu a:focus,
.topbar-nav .metismenu a:active {
    color: #f8f9fa;
    text-decoration: none;
    background: #0b7285;
}
@media (min-width: 992px) {
    .topbar-nav .metismenu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .topbar-nav .metismenu > li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .topbar-nav .metismenu > li > ul {
        position: absolute;
        top: 100%;
        min-width: 100%;
        z-index: 1001;
    }
    .topbar-nav.is-hoverable .metismenu > li > ul {
      height: auto !important;
    }
    .topbar-nav.is-hoverable .metismenu > li:hover > ul {
        display: block;
    }
    .topbar-nav.is-hoverable .metismenu > li:hover > a.has-arrow:after {
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
    }
}
/**/
/*
Content
*/
.item-title {
    background-color: rgb(241,241,241)!important ;
}
.item-title > h3 {
    font-weight: 900;
}
.list-law .item .link li a {
    font-size: 12px;
    text-decoration: none;
}
.list-law .item .link .source {
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.list-law .item .left {
    border-right: 1px dotted #181515;
}
.list-law .item .right table .law-date > td {
    font-size: 12px;
    color:  rgb(76,175,80);
}
.list-law .item .right table .law-effect > td {
    font-size: 12px;
    color:  red;
}
